/*Global*/

/*
Colors: 
- green : #8A8A4C;
*/

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.soft-rounded {
  border-radius: 20px;
}

.dot {
  width: 10px;
  display: inline-block;
  height: 16px;
  position: relative;
}

.dot::before {
  content: "·";
  font-size: 25px;
  line-height: 14px;
  vertical-align: center;
  position: absolute;
  top: 6px;
  left: 1px;
  color: #8A8A4C;
}

body {
  position: relative;
}

/* DE ARLETTI */

#imageBackground {
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: red;
z-index: -5;
background: center center no-repeat;
background-size: cover;
}

body {
margin: 0;
padding: 80px 0;
/* overflow: hidden; */
font-family: 'Montserrat', sans-serif;
display: block;
}

#header {
background: #fff;
text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 14px 0;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
z-index: 10;
}

.menu {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 0;
  list-style: none;
}

.menu ul {
    list-style: none;
}

.menu li {
    height: auto;
    padding: 0;
    margin: 0 5px;
    display: inline-block;
    zoom: 1;
    position: relative;
    font-size: 14px;
}

.menu li ul {
    content:'la';
    display: none;
    background: #FFFFFF;
    position: absolute;
    left: -38px;
    padding: 10px;
    display: none;
    width: 200px;
}

.menu li:hover > ul {
    display: block;
}

.menu li:hover > a {
  background: #ffffff;
}

.menu li ul li {
padding: 5px 0 !important;
}

.menu li:hover ul {
display: block;
}


ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

a {
letter-spacing: 2px;
color: #000;
text-decoration: none;
}

a:hover {
color: #8A8A4C;
text-decoration: none;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}


.frame {
background-color: rgba(255, 255, 255, 0.5);
text-align: center;
padding: 30px 50px;
position: relative;
overflow: hidden;
min-height: 530px;
}

@media (min-height: 745px)
.frameCenter {
width: 900px;
height: 530px;
text-align: center;
padding: 30px 10px;
position: absolute;
top: 50%;
margin-top: -295px;
left: 50%;
margin-left: -450px;
}


.frameBottom {
background-color: rgba(255, 255, 255, 0.5);
/*width: 900px;*/
text-align: center;
padding: 15px;
position: relative;
/*margin: 0 auto;*/
overflow: hidden;
/*height: 100px;*/
}


div {
display: block;
}

.logo {
display: block;
margin: 0 auto;
}

img {
border: 0;
}

a {
color: #000;
}

/* a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
} */

#homeSaleContainter {
overflow: hidden;
margin: 0 auto;
font-size: 0;
position: relative;
}

#homeSales {
/* width: 1075px; */
margin: 60px 0 0 0;
}

.homeSale {
display: inline-block;
zoom: 1;
/* float: left; */
margin: 10px 20px;
}

.homeSaleName {
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 14px;
margin: 0;
letter-spacing: 2px;
line-height: 1.5;
}

.homeSaleName2 {
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
/*font-weight: bold;*/
font-size: 14px;
margin: 0;
letter-spacing: 2px;
padding-top: 20px;
}

.homeSaleName2 span{
  color: #999966;
}

h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.homeSaleCounter {
width: 130px;
display: inline-block;
zoom: 1;
font-size: 14px;
letter-spacing: 2px;
}

.homeSaleCounter .counterMinutes, .homeSaleCounter .counterSeconds {
width: 22px;
}

.baseline {
display: block;
margin: 30px auto 30px;
}

.baseline-2 {
display: block;
margin: 10px auto;
}

.btnRegister {
margin: 20px auto 10px;
padding: 10px 0;
background: #fff;
-moz-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
cursor: pointer;
width: 46%;
}

.btnCenter {
text-align: center;
}

.button {
/*background: #fff;*/
/*padding: 10px 20px;*/
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
text-decoration: none;
font-size: 14px;
letter-spacing: 2px;
border: 0;
}


#footer {
background: #fff;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 10px 0;
font-family: 'Montserrat', sans-serif;
font-style: italic;
z-index: 10;
margin-left: 0px;
margin-right: 0px;
}

#footer a {
text-decoration: none;
}

.footerLink {
font-size: 18px;
line-height: 0;
text-decoration: none;
margin-left: 9px;
background-color: #878854;
border-radius: 50%;
padding: 5px;
text-align: center;
width: 26px;
height: 26px;
}

.footerLink a {
  color: white;
}

/* - section de la newsletter 

section.lanewsletter {
  background-color: #999966;
  background-opacity: 0.5;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}
 */

div.mc_embed_signup {
  /* - trouver ici comment mieux afficher et en une ligne les éléments de MailChimp - */
}

/* - section des trois colonnes - */

/* - section de la ligne de tout en bas - */
#laderniere {
  padding-top: 20px;
}

#mc_embed_signup input.button {
display: inline;
}

#mc_embed_signup input.email {
  display: inline;
}

#infos {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  border-top: 10px;
  border-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.row {
margin-left: 15px;
margin-right: 15px;
}

.SoustitrePage {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'dragon', sans-serif;
  letter-spacing: 0px;
  margin-bottom: 5px;
  font-style: italic;
}

.SoustitrePage2 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 5px;
  font-style: italic;
}

.ContenuPage {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin: 20px 0;
}


.ContenuPage span {
  color: #999966;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 15px;
}

.ImagePage {
  margin: 30px 0;
  border:0;
}

#HomeSale span {
  color: #ffffff;
}

.form {
text-align: left;
width: 400px;
margin: 0 auto;
}

.formLine {
clear: both;
padding: 4px 0;
overflow: hidden;
}

.form label {
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
margin-right: 5px;
letter-spacing: 1px;
float: left;
margin-top: 4px;
}

.form input[type=text], .form input[type=password] {
background: transparent;
border: 0;
border-bottom: solid 1px #000;
margin: 0;
padding: 0;
float: right;
font-size: 16px;
font-style: italic;
outline: none;
width: 280px;
color: #DB8625;
}

#mce-EMAIL {
width: 335px;
}

#mce-LNAME {
width: 280px;
}

#mce-MMERGE5 {
width: 139px;
}

#mce-MMERGE1 {
width: 341px;
float: right;
border: 0;
border-bottom: solid 1px;
background: transparent;
}

#mc-embedded-subscribe2 {
margin-left: 140px;
margin-right: 140px;
margin-bottom: 10px;
margin-top: 10px;
}

.buttonLight {
background: white;
padding: 10px 20px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
text-decoration: none;
font-size: 14px;
letter-spacing: 2px;
/* 
-moz-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
-o-box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.3);
*/ 
border: 0;
border-bottom: solid 1px;
cursor: pointer;
}

.lanewsletter #mc_embed_signup input.email {
background: transparent;
border: 0;
border-bottom: solid 1px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fff;
}

#footer
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


/*Accueil*/

#infos {
  margin: 4% auto;
}

/*Newsletter*/
.lanewsletter {
  margin: 1% auto;
}

/*footer*/
.left-footer {
  text-align: center;
  margin-left: 20px;
  letter-spacing: 2px;
}

.footer-column {
  line-height: 26px;
}

.footer-column .list-inline {
  margin-right: 10px;
  margin-bottom: 0;
}

/*Share button qui n'apparait que sur les smartphones*/
.share-button .btn {
  border-radius: 0;
  width: 100%;
  margin: 0 auto;
}

/*Menu*/

.navbar-default {
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  border-color: transparent;
}

.navbar {
  margin-bottom: 0;
  min-height: auto;
}

.navbar-brand, .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a  {
  color: #111;
  font-family: "Montserrat",sans-serif;
  text-shadow: none;
}

@media (min-width: 768px) {

  .navbar-nav {
    float: none;
  }

  .navbar-nav > li {
      float: none;
      display: inline-block;
      text-align: center;
      margin: 0px 3px;
  }

  .navbar-nav > li > a {
    padding: 0;

  }

  .navbar-brand {
    float: none;
  }

  /*opened dropdown*/
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
  }

  .dropdown-menu > li > a:hover {
    background-image: none;
  }

}




/*Responsive small screens */
/*Extra small devices*/
  @media (max-width: 480px) {
    .no-margin-xs {
      margin: 0;
    }
    .no-padding-xs {
      padding: 0;
    }

    /*On garde la taille normale du bouton*/
    .btnRegister {
      width: auto;
    }

    #footer {
      font-size: 12px;
      padding: 0;
      position: relative;
    }

    body {
      padding: 0;
      margin-top: 85px;
    }

    .footer-column {
      margin: 5px auto;
    }

    .footer-column.share-button {
      margin: 0 auto;
    }

    .lanewsletter {
      margin: 0;
    }
  }

/*Small devices*/
@media (min-width: 481px) and (max-width: 768px) {

  /*On ajoute de l'espace en bas pour compenser la place occupée par le footer qui est fixe*/
  body {
    margin-bottom: 60px
  }

  .footer-column {
    margin: 5px auto;
  }
}

/*Medium devices*/
@media (min-width: 769px) and (max-width: 992px) {
  .footer-column {
    margin: 5px auto;
  }
}

/*Large devices*/
@media (min-width: 993px) and (max-width: 1200px) {
  .left-footer {
    text-align: left;
  }
}

/*Extra large devices*/
@media (min-width: 1201px) {
  .left-footer {
    text-align: left;
  }
}